<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace = "com.mycompany.mapper.mapper_XML">
	<select id = "select_MgtGoodsCal" resultType="com.mycompany.vo.MgtGoodsCalVO">
		select * 
		from t_goods_inf 
		where GOODS_B_CD = #{goods_b_cd}	  
	</select>
	
	
</mapper>